body{
  background: #fbfbf8; 
  margin: auto;
}

h1{
  letter-spacing: 2px; 
  font-size: 40px 
  font-family: serif;
}

h2{
  font-size: 15px; 
  font-family: serif;
  line-height: 1.6; 
}
header{
  font-family: serif;
  font-size: 25px;
  background: #f1f1eb
}
p{
  font-size:20px;
  line-height: 1.6;
}
ul{
  line-height: 1.2;
}
img{
  width: auto;
  height: 150px; 
}
